<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soal 2</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ `Nilai a : ${a}`}}</h1>
      <h1>{{ `Rata rata : ${rata2}`}}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          rata2: 0,
          arrPush: [],
        },
        methods: {
          openForm() {
            var data = prompt("Masukan Nilai a");
            this.arrPush.push(parseInt(data));
            this.a = parseInt(this.a) + parseInt(data);
            this.rata2 = this.arrPush.reduce(
              (a, v, i) => (a * i + v) / (i + 1)
            );
            if (this.a < 10) {
              this.openForm();
            }
          },
        },
      });
    </script>
  </body>
</html>
