<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soal 1</title>
  </head>
  <body>
    <div id="app">{{ fullName }}</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          firstName: "Tuanku",
          lastName: "Imam Bonjol",
        },
        computed: {
          fullName: {
            // getter
            get: function () {
              return `${this.firstName} ${this.lastName}`;
            },
            // setter
            set: function (newValue) {
              var names = newValue.split(" ");
              this.firstName = names[0];
              if (names.length >= 3) {
                this.lastName = `${names[names.length - 1]} ${
                  names[names.length - 2]
                }`;
              } else {
                this.lastName = `${names[names.length - 1]}`;
              }
            },
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
