<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quis 2</title>
    <style>
      table {
        font-family: arial, sans-serif;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div style="padding: 10px">
        <p v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
        <label>Name : </label><br />
        <input
          :disabled="photo_status"
          type="text"
          v-model="form.name"
        /><br /><br />
        <label>Address :</label><br />
        <input
          :disabled="photo_status"
          type="text"
          v-model="form.address"
        /><br /><br />
        <label>No HP :</label><br />
        <input
          :disabled="photo_status"
          type="number"
          v-model="form.no_hp"
        /><br /><br />
        <div v-if="photo_status === true">
          <label for="img">Select image:</label>
          <input
            type="file"
            v-model="datasPhoto"
            name="photo"
            ref="photo"
            accept="image/*"
          /><br /><br />
          <img
            v-if="photo_profile"
            :src="photo_profile"
            width="200"
            height="200"
          />
        </div>

        <button @click="createEdit()">
          {{photo_status ? 'Upload' : 'Submit'}}
        </button>
        <button @click="clearData()">Cancel</button>
      </div>

      <div style="padding: 30px">
        <table>
          <tr>
            <th>Name</th>
            <th>No HP</th>
            <th>Address</th>
            <th>Photo</th>
            <th>Updated At</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
          <tr v-for="(data,index) in listData" :key="index">
            <td>{{data.name}}</td>
            <td>{{data.no_hp}}</td>
            <td>{{data.address}}</td>
            <td>
              <img
                v-if="data.photo_profile"
                :src="`http://demo-api-vue.sanbercloud.com/${data.photo_profile}`"
                width="200"
                height="200"
              />
            </td>
            <td>{{data.updated_at}}</td>
            <td>{{data.created_at}}</td>
            <td>
              <button @click="edit(data.id)">Edit</button>
              <button @click="deleteData(data.id)">Delete</button>
              <button @click="uploadFoto(data.id)">UploadFoto</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        computed: {},
        data: () => ({
          form: {
            name: "",
            address: "",
            no_hp: "",
          },
          errors:[],
          listData: [],
          editable: "",
          datasPhoto : null,
          photo_profile: "",
          photo_status: false,
        }),
        methods: {
          getData() {
            axios({
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            }).then((response) => {
              let { data } = response;
              this.listData = data.members;
            });
          },
          edit(id) {
            axios({
              method: "get",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            }).then((response) => {
              let { data } = response;
              this.form.name = data.member.name;
              this.form.address = data.member.address;
              this.form.no_hp = data.member.no_hp;
              this.editable = data.member.id;
              alert(data.message);
            });
          },
          uploadFoto(id) {
            axios({
              method: "get",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            }).then((response) => {
              let { data } = response;
              this.form.name = data.member.name;
              this.form.address = data.member.address;
              this.form.no_hp = data.member.no_hp;
              if (data.member.photo_profile) {
                this.photo_profile = `http://demo-api-vue.sanbercloud.com/${data.member.photo_profile}`;
              }
              this.photo_status = true;
              this.editable = data.member.id;
              alert(data.message);
            });
          },
          createEdit() {
            const formData = new FormData();

            if (!this.editable) {
              if (this.form.name && this.form.address && this.form.no_hp) {
                  Object.keys(this.form).forEach((p) =>
                  formData.append(p, this.form[p])
                );
                axios({
                  method: "post",
                  url: `http://demo-api-vue.sanbercloud.com/api/member`,
                  data: formData,
                }).then((response) => {
                  let { data } = response;
                  alert(data.message);
                  this.getData();
                  this.clearData();
                });
              }

              this.errors = [];

              if (!this.form.name) {
                this.errors.push('Name required.');
              }
              if (!this.form.address) {
                this.errors.push('Address required.');
              }

              if (!this.form.no_hp) {
                this.errors.push('No HP required.');
              }
          
            } else {
              if (!this.photo_status) {
                if (this.form.name && this.form.address && this.form.no_hp) {
                    Object.keys(this.form).forEach((p) =>
                    formData.append(p, this.form[p])
                  );
                  axios({
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${this.editable}?_method=PUT`,
                    data: formData,
                  }).then((response) => {
                    let { data } = response;
                    alert(data.message);
                    this.getData();
                    this.clearData();
                  });
                }
                this.errors = [];

                if (!this.form.name) {
                  this.errors.push('Name required.');
                }
                if (!this.form.address) {
                  this.errors.push('Address required.');
                }

                if (!this.form.no_hp) {
                  this.errors.push('No HP required.');
                }
                
              } else {

                let file = this.$refs.photo.files[0];
                formData.append("photo_profile", file);
                this.errors = [];

                if (!this.datasPhoto) {
                  this.errors.push('Photo required.');
                }

                if (this.datasPhoto) {
                    axios({
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${this.editable}/upload-photo-profile`,
                    data: formData,
                  }).then((response) => {
                    let { data } = response;
                    alert(data.message);
                    this.getData();
                    this.clearData();
                  });
                }
              }
            }
          },
          clearData() {
            this.form.name = "";
            this.form.address = "";
            this.form.no_hp = "";
            this.editable = "";
            this.photo_status = false;
            this.photo_profile = "";
            this.errors = [];
            this.datasPhoto = null;
          },
          deleteData(id) {
            var validasi = confirm("Anda Yakin!");

            if (validasi === true) {
              axios({
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
              }).then((response) => {
                let { data } = response;
                alert(data.message);
                this.getData();
              });
            }
          },
        },
        created() {
          this.getData();
        },
      });
    </script>
  </body>
</html>
