<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quis 2</title>
  </head>
  <body>
    <div id="app">
      <input v-model="input" />
      <button @click="addAndUpdate()">
        {{ editable === true? 'Update' : 'Add'}}
      </button>
      <ul v-for="(users,index) in users" :key="index">
        <li>
          {{users.name}} <button @click="edit(index)">Edit</button> ||
          <button @click="deleteData(index)">Delete</button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        computed: {},
        data: () => ({
          input: "",
          users: [
            { name: "Muhammad Iqbal Mubarak" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
          editable: false,
          index: null,
        }),
        methods: {
          addAndUpdate() {
            if (this.editable === false) {
              this.users.push({
                name: this.input,
              });
            } else {
              this.users[this.index].name = this.input;
            }
            this.input = null;
            this.editable = false;
            this.index = null;
          },
          edit(index) {
            this.editable = true;
            this.input = this.users[index].name;
            this.index = index;
          },
          deleteData(index) {
            var validasi = confirm("Anda Yakin!");

            if (validasi === true) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>

