<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hari ke-10 | Tugas Form Input Binding dan Validation</title>
  </head>
  <body>
    <div id="app">
      <input v-model="input" placeholder="Masukan Kata kunci" />
      <ul v-for="(book,index) in filterBooks" :key="index">
        <li>{{book}}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        computed: {
          filterBooks() {
            if (this.input) {
              return this.books.filter((value) => {
                return this.input
                  .toLowerCase()
                  .split(" ")
                  .every((v) => value.toLowerCase().includes(v));
              });
            } else {
              return this.books;
            }
          },
        },
        data: () => ({
          input: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemograman",
          ],
        }),
        methods: {},
      });
    </script>
  </body>
</html>

